[submodule "third_party/glog"]
	path = third_party/glog
	url = git://github.com/google/glog.git

[submodule "third_party/gflags"]
	path = third_party/gflags
	url = git://github.com/gflags/gflags.git

[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git://github.com/google/googletest.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = git@github.com:google/benchmark.git
[submodule "third_party/cctz"]
	path = third_party/cctz
	url = git@github.com:google/cctz.git
